version: "3.9"

services:
  frontend:
    build:
      context: ./frontend
    ports:
      - "8081:80"
    environment:
      VITE_API_URL: http://server:8000
    depends_on:
      - server

  server:
    build:
      context: ./server
    ports:
      - "8000:8000"